<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/twitch.css'/>
  </head>
  <body>
    <div class="tabbed-box">
  <button class="all-tab">All</button>
  <button class="online-tab">Online</button>
  <button class="offline-tab">Offline</button>
</div>
  </body>
</html>
