<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/twitch.css'/>
  </head>
  <body>
    <div class="tabbed-box">
      <button class="btn all-tab active btn-lg">All</button>
      <button class="btn online-tab btn-lg">Online</button>
      <button class="btn offline-tab btn-lg">Offline</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="javascripts/twitch.js"></script>
  </body>
</html>
